



<div class="container">
    <a class="btn btn-success mr-2 mt-2 mb-2  float-right" routerLink="/newemp">Add Employee</a>
<table class="table table-striped table-bordered text-center">
    <thead class="thead-dark">
      <tr>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">City</th>
        <th scope="col">Address</th>
        <th scope="col">Dob</th>
        <th scope="col" colspan="2">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of data">
        <td>{{value.firstName}}</td>
        <td>{{value.lastName}}</td>
        <td>{{value.email}}</td>
        <td>{{value.phone}}</td>
        <td>{{value.city}}</td>
        <td>{{value.adress}}</td>
        <td>{{value.dob}}</td>
        <td><button class="btn btn-primary btn-sm" (click)="open(value)">Update</button></td>
        <td><button class="btn btn-danger btn-sm"(click)="delete(value.empid)">Delete</button></td>
      </tr>
    </tbody>
  </table>


</div>